@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 231 231;
    --foreground: 65 65 65;
    --secondary: 225 225 225;
  }

  .dark {
    --background: 24 24 24;
    --foreground: 190 190 190;
    --secondary: 30 30 30;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

html {
  overscroll-behavior: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  overscroll-behavior: none;
}

#mini-player {
  padding-bottom: max(env(safe-area-inset-bottom), 16px);
  padding-left: max(env(safe-area-inset-left), 16px);
  padding-right: max(env(safe-area-inset-right), 16px);
}