@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 231 231;
    --foreground: 65 65 65;
    --secondary: 225 225 225;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 24 24 24;
    --foreground: 190 190 190;
    --secondary: 30 30 30;
  }
}

body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
